* {
    margin: 0px;
    padding: 0px;
}

/* ----nav-section----  */
.nav-container {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    /* width: 100%;
    position: fixed; */
}

.nav-icon-img {
    width: 120px;
}

.nav-list {
    display: flex;
}

.nav-list-anchor {
    color: white;
    margin-right: 25px;
    text-decoration: none;
}

.nav-list-anchor:hover {
    color: yellowgreen;
}


/* ----main-section----  */
/* -----------Banner Block------------ */
#banner {
    border-image: url('../images/background.png');
}

.banner-container {
    background-image: url('../images/background.png'), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

.banner-heading {
    color: white;
    font-size: 55px;
    font-weight: bold;

}

.banner-description {
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    color: white;
    padding: 10px 20px;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;

}

button:hover {
    color: dimgray;
    font-weight: bold;
    cursor: pointer;
}

.banner-photo {
    width: 300px;
}


/* -----------About Block------------ */
.about-heading {
    padding-top: 20px;
    text-align: center;
    font-size: 55px;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-photo {
    width: 300px;
}

.about-text-heading {
    font-size: 20px;
    margin-bottom: 10px;

}

.about-text-description {
    font-size: 18px;
}

#underline {
    border-bottom: 2px solid black;
}

.about-btn {
    margin-top: 20px;
}

/* -----------Service Block------------ */
#service {
    margin-top: 30px;
    background-image: url('../images/background.png'), linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
    color: white;
    padding: 50px;

}

.service-heading {
    text-align: center;
    padding-top: 20px;
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 35px;
}

.service-container {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 135px;
}

.box {
    height: 280px;
    width: 210px;
    padding: 15px;
    box-shadow: 4px 4px 40px gray;
    background-color: black;
    text-align: center;
    border-radius: 5px;

}

.box-icon {
    width: 70px;
}

.box-heading {
    padding: 10px;
    font-size: 30px;

}

.box-description {
    font-size: 16px;
}

.box-btn {
    background-color: #1c1b1b;
    margin-top: 20px;
    padding: 13px 20px;

}

.box-btn:hover {
    color: coral;
    font-weight: bold;
    cursor: pointer;
}


/* ----footer-section----  */
footer{
    background-color:black;
    color: white;
    padding: 100px 150px; 
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
.footer-column>h5{
    font-size: 25px;
    padding-bottom: 30px;
}
.footer-column>p{
    font-size: 16px;
    padding-bottom: 10px;
}
.footer-column>ol{
    font-size: 16px;
    padding-bottom: 5px;
}
.footer-column> address > ol{
    font-size: 18px;
    padding-bottom: 10px;
}
.footer-column>img{
    width: 170px;
    padding-bottom: 20px;
}
.copy-right{
    margin-top: 30px;
    display: block;
    text-align: center;
}